
.container
  margin-top: 2em

h2
  margin-top:3px;
  padding-bottom:5px;
  border-bottom: 2px solid #666
  color: #666
h3
  color: #666
  border-bottom: 2px solid
  text-transform:uppercase

h4
  color: #ccc
  border-bottom: 2px solid #ccc
  text-transform:uppercase


.table-wrap
  opacity: 0.0
  transition: opacity 1s;
  -webkit-transition: opacity 1s; /* Safari */

.location-row, tr
  cursor: pointer

#upload-container
  width: 100%

.bootstrap-tagsinput
  width: 100%

.img-thumbnail
  float: left
  margin-top: 10px
  margin-right: 10px

#pager
  display: none
  padding:0
  margin:0
  margin-right: 20px;


.spinkit-wrap
  position: absolute
  //display: none
  width:100%;
  height:100%;

.spinkit-sapcer
  position: absolute
  width:60px;
  height:60px;
  //display: none;
  top: 0
  left: 0
  bottom:0
  right: 0
  margin: auto auto;

.spinkit-mask
  position: absolute;
  width:100%
  height:100%
  background-color: rgba(255,255,255,0.9)
  opacity: 1


.spinkit
  width: 60px;
  height: 60px;
  background-color: #333;


  margin: 10% auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}


