
.container
  margin-top: 2em

h2
  margin-top:3px;
  border-bottom: 2px solid #666
  color: #666
h3
  color: #666
  border-bottom: 2px solid
  text-transform:uppercase

h4
  color: #ccc
  border-bottom: 2px solid #ccc
  text-transform:uppercase


.location-row
  cursor: pointer



#upload-container
  width: 100%

.bootstrap-tagsinput
  width: 100%

.img-thumbnail
  float: left
  margin-top: 10px
  margin-right: 10px

