extends layout

extends layout
append vendor_scripts 
  script(src='js/vendor/store.js' type='text/javascript')
  script(src='js/vendor/vue.js' type='text/javascript')
append scripts
  script(src='js/location_list.js' type='text/javascript')


block content
  .container#locationlist
    .row: .col-md-12
      .pull-right
          button.btn.btn-default(v-on='click: import_csv()') Import CSV
          button.btn.btn-success(v-on='click: new_location()') New Location
      h2 Locations
    .row: .col-md-12
        table.table.table-hover
          tr
            th: span.glyphicon.glyphicon-star
            th Name
            th Categories
            th County
          tr.location-row(v-repeat='locations' v-on='click: edit_location(this)')
            td: span.glyphicon.glyphicon-ok(v-if='featured == "true"')
            td {{title}}
            td {{categories | aslist}}
            td {{county}}
            
