doctype html
html
 
  head
    title findyouriowa.com
    
    block vendor_stylesheets
      // vendor stylesheets
      link(href='/css/vendor/bootstrap.css', rel='stylesheet')
    
    block stylesheets
      // app stylesheets
      link(href='/css/style.css', rel='stylesheet')

  body
    // content
    block content
      h1 Content

    // vendor scripts
    block vendor_scripts
      script(src='/js/vendor/underscore-min.js' type='text/javascript')
      script(src='/js/vendor/underscore.string.js' type='text/javascript')
      script(src='/js/vendor/jquery.min.js' type='text/javascript')
      script(src='/js/vendor/bootstrap.min.js' type='text/javascript')

    // application scripts
    block scripts
    
