extends layout
append vendor_stylesheets
  link(href='/css/vendor/bootstrap-multiselect.css', rel='stylesheet')
  link(href='/css/vendor/bootstrap-tagsinput.css', rel='stylesheet')  
append vendor_scripts 
  script(src='//api.filepicker.io/v1/filepicker.js' type='text/javascript')
  script(src="https://api.filepicker.io/v1/filepicker_debug.js")
  script(src='/js/vendor/bootstrap-multiselect.js' type='text/javascript')
  script(src='/js/vendor/bootstrap-tagsinput.js' type='text/javascript')
  script(src='/js/vendor/store.js' type='text/javascript')
  script(src='/js/vendor/vue.js' type='text/javascript')
append scripts
  script(src='/js/location_form.js' type='text/javascript')


block content
  .container
    .row
      .col-sm-8
        
        include _form_mixins
        include _categories

        form.form-horizontal#locationform
          fieldset#fs-main
            h4 Location Info
            +form_text( 'title', 'Title / Name') 
            +form_select('public', 'Public / Private') 
              option(value='true') Public Listing      
              option(value='false') Private Listing 
            +form_multiselect('categories', 'Categories') 
              each val,key in dca_categories
                option(value=key) #{val}
            +form_field('tags', 'Tags') 
              select.form-control(v-model="tags", id='tags', multiple='multiple')
            +form_textarea('description', 'Description')

          // images
          fieldset#fs-images
            h4 Images
            +form_field('images', 'Images')
              input.form-control(type='hidden', id='images', name='images', v-model='images')
              button.btn.btn-primary(id='btn_upload', type='button') Upload Images
              #upload-container(v-repeat='images')
                img.img-thumbnail(src='{{url}}/convert?w=90&h=90&fit=crop' v-if='url')


          //location data
          fieldset#fs-location
            h4 Location Data
            +form_text( 'county', 'County')
            +form_text( 'lat', 'Latitude')
            +form_text( 'lon', 'Longitide')

          // address
          fieldset#fs-address
            h4 Address
            +form_text( 'address1', 'Address Line 1')
            +form_text( 'address2', 'Address Line 2')
            +form_text( 'city', 'Category')
            +form_text( 'state', 'State')
            +form_text( 'zip', 'Zip Code')

          // contact fields
          fieldset#fs-contact
            h4 Contact Information
            +form_input('email', 'email', 'Email')
            +form_input('tel', 'Phone', 'Phone')
            +form_input('url', 'website', 'Website')

          // social media fields
          fieldset#fs-social-media
            h4 Social Media
            +form_text( 'facebook', 'Facebook Page')
            +form_text( 'twitter', 'Twitter Username')
            +form_text( 'youtube', 'Youtube Channel')
            +form_text( 'instagram', 'Instagram Username')

          // featured designation
          fieldset#fs-featured
            h4 Featured Designation
            +form_select('featured', 'Featured') // public/private field    
              option(value=true) Yes      
              option(value=false) No 
            +form_textarea( 'featured_text', 'Featured Description')


      .col-sm-4

        form.form-horizontal#formactions(data-spy="affix" data-offset-top="60" data-offset-bottom="200" style='width: 300px; margin-left: 50px;')          
          fieldset
            h4 Actions
            p: a.btn.btn-default(style='width:100%', href="/") Back to List
            p: button#btn_save.btn.btn-success(style='width:100%', type='button') Save
            

